.all-tweets {
  border: 1px solid #BCBFC1;
  height: 188px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 10px;
  position: relative;
  opacity: 0.7;

}
.tweet-icons {
  color: #00a087;
  opacity: 0;
  position: relative;
  left: 80%;
  bottom: 60%;
}


.all-tweets:hover .tweet-icons {
  opacity: 1;
}


.all-tweets:hover {
  opacity: 1;
}


.all-tweets header {
  height: 35%;
  background-color: #eee;
  padding: 2%;
  border-radius: 10px 10px 0 0;

}

.all-tweets header p {
    position: relative;
    bottom: 175%;
    left: 80%;
}

.tweet-content {
  padding: 2%;
  position: relative;
  top: 10px;
}


.all-tweets h2 {
  margin: 0;
  position: relative;
  bottom: 100%;
  left: 15%;
}

footer {
border-top: 0.5px solid #eee;
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 20%;
 padding: 2%;
}

footer p {
  position: relative;
bottom: 60%;
}

img {
border-radius: 10px;
}


