#nav-bar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar a:link {
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  float: right;
  padding: 20px 40px;
  margin: 8px;
  color: #00a087;
  background-color: #e8fdff;
  text-decoration: none;
}

#nav-bar a:hover {
  background-color: white;
}